<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <title>
            <%= title %>
        </title>
</head>

<body class="container">
    <main>
        <div class="jumbotron">
            <h1>
                <%= title %>
            </h1>
            <p>
                <%= message %>
            </p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>